@media (min-width: 768px) {
  div#contact-flex {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
  }
  
}
@media (max-width:600px){
  
.contact-box {
  padding: 16px;
  width: 50%;
  justify-content:center;
  align-items:center; 
  margin-left: -130px;
  width: 100%;
}

#contact-flex{
  flex-direction: column;
  flex-wrap: wrap;
}

#contact-desc p{
  text-align: center;
}

.contact-box p{
  display: inline-block;
}

.form-box {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-left: -130px;
}
}