html {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter',Sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    max-width: 100%;
    line-height:16px;

}

section {
    margin-top: 68px;
}

h1, h2, h3, h4, h5, h6 {
font-family:'Playfair Display', serif;
}

#logo {
    height: 42px;
    width:72px;
    object-fit: cover;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 2px;
}
#navbar {
    padding:16px;
    padding-top: 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    max-width:100%;
    margin-top:0;
    width: 100%;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-color: hsl(210 13% 91%);
    height: 4rem;
}

nav {
    display: flex;
}

#navbar li {
    font-family: 'Inter',sans-serif;
    list-style: none;
    color:hsl(210 9% 45%) ;
    display:inline-flex;
    margin-left: 24px;
    position: relative;
    text-decoration: none;
    padding: 2px 0;
    cursor: pointer;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;

}

#navbar-list li {
    max-width:  70%;
}

#navbar-list li:last-child {
    margin-right: 80px;
    margin-left: 24px; 
}

#navbar li:hover {
  color: #141d2e;
}

li::after {
content:"";
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 4px;
background-color:gold;
box-sizing: border-box;
transition: width 0.3s ease;
}

li:hover::after{
    width: 100%;
}

#logo-img{
    margin-left: 60px;
     padding: 2px 0; 
}

#hero-section{
  background-image: url('/assets/images/image-two.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* full screen height */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.overlay {
  background-color: hsl(211deg 61% 16% / 20%); 
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 40, 66, 0.75); 
  pointer-events: none; 
  z-index: 1; 
}

div h1{
    font-size: 4rem;
    border-color:hsl(210 13% 91%);
    line-height: 1;
    color: rgb(255 255 255);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom:0;
}

.code-cities{
    margin:0 auto;
    padding: 0;
}
.greetings{
    margin: 0 auto;
    padding:0;
}