html {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter',Sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    max-width: 100%;
    line-height:16px;

}

#hero-section {
    margin-top: 68px;
}

h1, h2, h3, h4, h5, h6 {
font-family:'Playfair Display', serif;
}

#logo {
    height: 46px;
    width:76px;
    object-fit: cover;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 2px;
}
#navbar {
    padding:16px;
    padding-top: 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    max-width:100%;
    margin-top:0;
    width: 100%;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-color: hsl(210 13% 91%);
    height: 4rem;
    border-bottom:1px solid #e8e8e8af;
}

#navbar a{
  text-decoration: none;
  color:hsl(210 9% 45%);
}
#navbar li {
    font-family: 'Inter',sans-serif;
    list-style: none;
    color:hsl(210 9% 45%) ;
    display:inline-flex;
    margin-left: 24px;
    position: relative;
    text-decoration: none;
    padding: 2px 0;
    cursor: pointer;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;

}

#navbar-list li {
    max-width:  70%;
}

#navbar-list li:last-child {
    margin-right: 80px;
    margin-left: 24px; 
}

#navbar li:hover {
  color: #141d2e;
}
#navbar a:hover{
  color: #141d2e;
}

li::after {
content:"";
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 4px;
background-color:rgb(255, 214, 102);
box-sizing: border-box;
transition: width 0.3s ease;
}

li:hover::after{
    width: 100%;
}

#logo-img{
    margin-left: 60px;
    padding: 2px 0; 
    margin-top: 8px;
}

#hero-section{
  background-image: url('/assets/images/image-two.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* full screen height */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.overlay {
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 40, 66, 0.75); 
  pointer-events: none; 
  z-index: 1; 
}


.animated-heading-keyframes {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  color: rgb(255 255 255);
  overflow: hidden; 
  border-color:hsl(210 13% 91%);
   margin-bottom: 0;
}

.word-part-keyframes {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotate(5deg); 
  animation: text-fade-in 1s ease-out forwards;
}


@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.5s; 
}

.delay-2 {
  animation-delay: 1s; 
}

.overlay div{
    margin: 0 auto;
}

#greetings{
    margin-top: 100px;
}

#hero-cta{
    font-family:'Inter',serif;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 4px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

#explore button{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    background-color: rgb(255, 214, 102);
    border: 1px solid hsl(51, 100%, 50%,0.7) ;
    color: #141d2e;
    width:240px;
    padding: 8px;
    border-radius: 24px;
    cursor:pointer;
    margin-top: 40px;

}

#explore div:hover{
background-color: white;
}


#discover{ 
    margin-top: 80px;
    background-color: rgba(16, 40, 66, 0.85); 
    width: 240px;
    padding: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    border-radius:16px;
    border: 1px solid hsl(0, 0%, 75%);
}

#arrow{
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color:rgba(17, 37, 59, 0.479) ;
  border: 1px solid hsl(0, 0%, 75%);
  margin-top: 16px;
}

#arrow img{
margin: 0 auto;
width: 42px;
height: 42px;
position: relative;
filter: brightness(0) invert(1);
margin:0 4px 4px 0;
}

#mission-section{
  margin-bottom: 58px;
}
#mission-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 84px 0 84px;
}

#mission-description{
  width: 50%;
  justify-content: left;
  align-items:center;
  text-align: left;
}
#mission-img{
  width: 50%;
}

#mission-section{
  margin-top: 48px;
}

#mission-cta div{
  font-family: 'Playfair Display', serif;
  line-height: 1rem;
  font-size: 3rem;
  color:rgba(16, 40, 66);
  font-weight: 600;
  padding-bottom: 24px;
}

#my-mission{ 
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color:rgba(16, 40, 66);
  padding: 10px;
  margin-bottom: 24px;
  border: 1px solid rgba(17, 37, 59, 0.479);
  border-radius: 8px;
  width: 78px;
  margin-left:8px ;
}

#underline{
  background-color: rgb(255, 214, 102);
  width: 150px;
  height: 4px;
  margin-top:15px;
  position:relative;
  left: 0;
  bottom: 0;
  box-sizing: border-box;

}

#mission-description p{
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color:rgba(17, 37, 59, 0.7);
  line-height: 29px;
  line-break:normal;
}

#stats-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left:10px;
  margin-top:16px;

}

#stats-cards div:last-child{
  margin-right: 36px;
  margin-left:0;
}

.card-stats h4{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color:rgba(17, 37, 59,0.7);
}

#stats-cards h2,h4{
  font-family:serif;
  text-align: center;
}

.card-stats{
  box-sizing: border-box;
  background-color: white;
  width: 180px;
  height: 100px;
  box-shadow: 0 8px 20px #a2a2a21a;
  border: 1px solid rgba(17, 37, 59,0.1);
  border-radius: 8px;
}

#mission-img img{
  width:80%;
  height: 350px;
  object-fit: cover;
  margin-top:50px;
  border: 1px solid rgba(17, 37, 59,0.3);
  border-radius: 6px;
}

#footer-section{
  background-color: rgb(16, 40, 66);
  padding-bottom: 0;
  margin-bottom: 0;
  width:100%;
  height:280px;
}

#cta-footer{
  color: rgb(255, 214, 102);
  font-style:italic;
  font-weight: 500;
  text-align: center;
  font-family:'Playfair',serif;
  font-size: 2rem;
  padding-top:60px;
}

#footer-social-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left:16px;
}

#footer-social-links a:first-child{
  margin-left:0;

}
#footer-social-links a{
  background-color:hsl(211, 54%, 25%) ;
  width: 48px;
  height:48px;
  border-radius: 50%;
  margin-left:24px;
  
}

#footer-social-links img{
height:30px;
width: 30px;
filter: brightness(0) invert(1);
margin-top: 8px;
margin-left: 4px;
}

#footer-social-links a:hover{
  background-color:rgb(255, 214, 102);
}
#footer-social-links img:hover{
filter: brightness(0) contrast(60%);
}

#code-identity{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  padding: 4px;
}

#copyright{
  font-family: 'Inter', sans-serif;
  color: rgb(180, 180, 180);
  font-weight: 400;
  font-size: 1rem;
}

/* CONTACT PAGE STYLING */
#contact-hero-section{
  background-image: url('/assets/images/image-three.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; /* full screen height */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: 68px;
}

.contact-overlay {
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 40, 66, 0.75); 
  pointer-events: none; 
  z-index: 1; 
}

.contact-hero-description{
  display: block;
  margin: 0 auto;
}
.contact-hero-description span{
font-family: 'Playfair Display',serif;
font-size:3rem;
font-weight: 700;
padding:75px 10px 45px 10px;
margin: 0 auto;
display: inline-block;
text-align: center;
}

.contact-hero-description p{
  font-family: 'Inter',sans-serif;
  font-size:1.5rem;
  line-height:1.95rem;
  font-weight: 400;
  margin: 0 auto;
 color: rgb(251, 249, 249);
}